{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}